.form-header {
  @apply py-5 bg-gray-800 w-full rounded-t-lg;
}

.form-title {
  @apply pl-5 text-left text-white font-bold text-xl;
}

.form-input {
  @apply my-2 rounded-lg bg-custom-fouth px-3 py-2 text-white border-2 border-purple-800;
  transition: all .2s ease-out;
  outline-style: none !important;
}

.form-input:focus{
  @apply border-purple-300;
}

.form-input:focus::placeholder{
  color: transparent;
}

.form-error {
  @apply pt-0 mt-0 text-red-600 text-sm; 
}

.form-textarea {
  @apply my-2 rounded bg-custom-fouth px-3 py-2 text-white border-2 border-purple-800;
  transition: all .2s ease-out;
  outline: none;
}

.form-textarea:focus{
  @apply border-purple-300;
}


.form-button {
  @apply p-3 text-center rounded-lg; 
  transition: all .2s ease-out;
  outline: none;
}

.button-close {
  @apply bg-red-400 font-bold;
  outline: none;
}

.button-close:hover {
  @apply bg-red-300;
  outline: none;
}

.button-save {
  @apply bg-purple-400 font-bold text-black ;
  outline: none;
}

.button-save:hover {
  @apply bg-purple-300;
  outline: none;
}
