.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    @apply bg-black p-0 rounded-md;
    display: inline;
    outline: none;
}

.modal-content{
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    padding: 0;
    transform: translate(-50%, -50%);
}
