.table-base {
  @apply table-auto w-full rounded-lg overflow-hidden my-5;
}

.table-header {
  @apply hidden bg-gray-700 text-white uppercase text-sm leading-normal rounded-l-lg  mb-2 ;
}

.table-body {
  @apply text-gray-200 text-sm font-light flex-1;
}

.column-left {
  @apply py-3 px-6 text-left;
}

.column-center {
  @apply py-3 px-6 text-center;
}

.trow {
  @apply bg-black border-b border-purple-800 mb-1 ;
}

.trow:hover {
  @apply bg-gray-900;
}

.tdesc {
  @apply border-b border-purple-800;
}


@screen sm {
  .table-header {
    @apply table-row rounded-none mb-0;
  }

  .table-body {
    @apply flex-none;
  }

  .tdesc {
    @apply border-0;
  }

}
